@media (min-width: 768px) {
  .icons {
    width: 120px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  .icons {
    width: 80px;
    height: 40px;
  }
}
@media (max-width: 400px) {
  .icons {
    width: 65px;
    height: 40px;
  }
}
