.swiper-wrapper2 {
  position: relative;
  width: 100%;
  max-width: 1699px;
  padding: 20px;
}

.swiper {
  position: unset;
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee2d8;
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #000;
}

.swiper-button-prev {
  left: -60px;
}
.swiper-button-next {
  right: -60px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #0e0e0e;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .swiper-button-prev {
    left: -12px;
  }
  .swiper-button-next {
    right: -12px;
  }
  .swiper-wrapper2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #fff;
    color: #093623;
  }
}
