   @font-face {
    font-family: "MADE Tommy Soft";
    src: url("./fonts//MADETommySoft.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }
  

  /* globals.css */

/* Set Playfair Display for all heading tags */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Set MADE Tommy Soft for all <p> tags */
p {
  font-family: 'MADE Tommy Soft', sans-serif;
}
